<html>
<head>

<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap" rel="stylesheet">

<style>
.container{

width:600px;
margin:0 auto;
font-family: 'Roboto', sans-serif;
border:1px solid #94a2b2;
}


.container p{

line-height:26px;
}


.container ol {

line-height:26px;
}


.container .footer

{

background-color:#e6f0f9;
padding:5px;
text-align:center;

}



.container .header

{

background-color:#e6f0f9;
padding:10px 0;
text-align:center;

}

.container .body-content
{
padding:0 10px;
}

</style>
</head>
<body>
    <div class="body-content">
    <p>Dear Candidate, </p>
    
    <p>Welcome to Contract Jobs,</p>
            
        
    <p>Before starting your new adventure, it is time to make yourself stand out in the crowd. Tell us about yourself by verifying your information to complete the profile. Open the link given below, and get started. A profile view from the right person will bring you closer to your dream job!</p>  
       
   </p>

   <p><h3> Click the link to complete the profile : https://bit.ly/38TAfi6</h3></p>

   <p><strong>Regards </strong></p>

   <p><strong>Contract Jobs </strong></p>
</div>
</body>
</html>
