<html>
<head>
<title>Welcome to Contract Jobs</title>

<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap" rel="stylesheet">

<style>
.container{

width:600px;
margin:0 auto;
font-family: 'Roboto', sans-serif;
border:1px solid #94a2b2;
}


.container p{

line-height:26px;
}


.container ol {

line-height:26px;
}


.container .footer

{

background-color:#e6f0f9;
padding:5px;
text-align:center;

}



.container .header

{

background-color:#e6f0f9;
padding:10px 0;
text-align:center;

}

.container .body-content
{
padding:0 10px;
}

</style>


</head>
<body>

<div class="container">

<div class="header">

<img src="https://cjweb.z29.web.core.windows.net/assets/images/cj-logo.png">

</div>

<div class="body-content">

<p>Dear {{user_name}}, </p>

<p>Welcome to Contract-Jobs.com! </p>

<p>Thank you for connecting and becoming a member of  Contract Jobs. </p>

<p><strong>Update your profile to receive the latest Job Alerts:</strong></p>

<ol>
	<li>Make your profile 100% updated to get relevant Job Alerts.</li>
	<li>Upload your updated resume.  </li>
	<li>Upload your academic documents.  </li>
	<li>Mention your skills, qualifications, and accomplishment of respective field area. </li>
	<li>If you have worked previously, update employment details for the reference. </li>
</ol>

<p>We ensure that your contact details will only be visible to the employer after you apply for the job. </p>


<p>Regards,<br>
Contract-jobs.com 
</p>


<!-- <p>To UNSUBSCRIBE from contract-jobs.com updates, <a href="#">Click here</a></p> -->

</div>


<div class="footer">

<p>All rights reserved @ 2022. AKAL Information Systems Ltd.</p>

</div>

</div>


</body>
</html>